{% extends 'main.html' %}
{% block content %}
{% include "header.html" %}
<div class="row">
  <h2>Edit Item</h2>
  <form method="post">
    <h5>Price</h5>
      <input type="text" name="price" placeholder="Enter new price">
    <h5>Status</h5>
    <select name="item_status">
      <option value="Available">Available</option>
      <option value="Rented">Rented</option>
    </select></br></br>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %}