{% extends 'main.html' %}
{% block content %}
{% include "header.html" %}
<div class="row" style = "padding-left: 25px;">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class = "row" >
    <div class="col-sm-5">
        <div id="mycarousel" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
            <!--Indicators-->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class ="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/img/innovation.jpg" class="d-block w-100 " alt="How Innovation Works">
                </div>
                <div class="carousel-item ">
                    <img src="/static/img/fast-and-slow.jpg" class="d-block w-100" alt="Thinking Fast and Slow">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/money.jpg" class="d-block w-100" alt="The Psychology of Money">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/animal-farm.jpg" class="d-block w-100" alt="Animal Farm" >
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#mycarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mycarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-sm-3" style="padding-top: 15px;">
        <h2>Categories</h2>
        <ul class="list">
        {% for category in categories %}
            <li>
                <a class="anchor" href="{{ url_for('showCategory', category=category.name) | replace('%20', '%2D') }}">{{ category.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-sm-3" style="padding-top: 15px;">
        <h2>New Arrivals</h2>
        <ul class="list">
        {% for item in latest_addition %}
            <li>
                <a class="anchor" href="{{ url_for('showItem', category=item.item_category.name, item=item.name) | replace('%20', '%2D') }}" >{{ item.name }} <em class="text-muted">({{ item.item_category.name }})</em></a>
            </li>
        {% endfor %}
        </ul>
    </br>
        <a class = "text-dark " href="{{ url_for('catalogJson') }}">Catalog JSON</a>
    </div>
    
</div>
{% endblock %}
