<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel=stylesheet type=text/css href="/static/style.css"> 
    <title>Item Catalog</title>
    <!-- PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: "{{ CLIENT_ID }}"
          });
        });
      } 
    </script>
  </head>
  <body>
    <main>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
      <div id="result"></div>
    </main>
  
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    
    <script>
      $('#signinButton').click(function () {
        function signInCallback(authResult) {
          if (authResult['code']) {
            // Sends a one-time-use code to the server, when the server responds, write a 'login successful' message to the web page and redirect to home page.
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              processData: false,
              data: authResult['code'],
              contentType: 'application/octet-stream; charset=utf-8',
              success: function (result) {
                if (result) {
                  $('#result').html('<h4>Login Successful!</h4></br>' + result);
                  setTimeout(function () {
                    window.location.href = "{{ url_for('homePage') }}";
                  }, 2000);
                } else if (authResult['error']) {
                  console.log('There was an error: ' + authResult['error']);
                } else {
                  $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
              }
            });
          }
        }
        auth2.grantOfflineAccess().then(signInCallback);
      })
    </script>
  </body>
</html>
